<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="dbapp.home" class="navbar-brand logo">
        <strong>수강 신청 시스템</strong>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="dbapp.home">홈</a></li>
        <li ui-sref-active="active" ng-if="studentId()"><a ui-sref="dbapp.student">수강 편람 및 신청</a></li>
        <li ui-sref-active="active" ng-if="studentId()"><a ui-sref="dbapp.registrations">신청 내역</a></li>
        <li ui-sref-active="active" ng-if="studentId()"><a ui-sref="dbapp.timetable">시간표</a></li>
        <li ui-sref-active="active"><a ui-sref="dbapp.admin">관리</a></li>
        <li ui-sref-active="active"><a ui-sref="dbapp.statistics">통계</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-if="!studentId()">학생이 선택되지 않았습니다.</a>
          <a ng-if="studentId()">학생 번호 {{ studentId() }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  $('.navbar-nav li a').not('.dropdown-toggle').click(function (event) {
    var navbar_toggle = $('.navbar-toggle');
    if (navbar_toggle.is(':visible')) {
      navbar_toggle.trigger('click');
    }
  });
});
</script>